[submodule "3rdparty/ncnn"]
	path = 3rdparty/ncnn
	url = https://github.com/Tencent/ncnn.git
[submodule "kcf"]
	path = 3rdparty/kcf
	url = https://github.com/infinivision/KCF
[submodule "staple"]
	path = 3rdparty/staple
	url = https://github.com/infinivision/staple
[submodule "ncnn"]
	path = ncnn
	url = git@github.com:Tencent/ncnn.git
[submodule "3rdparty/cpptoml"]
	path = 3rdparty/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = https://github.com/opencv/opencv.git
